<section id="admin-header">

<nav class="mobile-global-header-nav show-for-small-only text-center">
        <div class="row small-up-1">
            
            <div class="columns">
                <div class="title">
                    Admin
                </div>
            </div>
            
        </div>
    </nav>
    
    <div class="top-bar show-for-medium" id="responsive-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Petloka Admin</li>
    
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
    
    
                <li><a href="#">Login / Logout</a></li>
                
            </ul>
        </div>
    </div>
</section>
