<!-- DESKTOP NAV -->

<div class="global-header show-for-medium border-bottom">
    <div class="list-group">
        <div class="list-item">
            <div class="item-icon flex-05">
                <a href="#">< Back</a> 
            </div> 
        <div class="item-tail flex-3">
                        <ul class="menu align-right">
                            <li>
                                <a href="#">1. Booking Details</a>
                            </li>
                            <li>
                                <a href="#">></a>
                            </li>
                            <li>
                                <a href="#">2. Booking Review</a>
                            </li>
                            <li>
                                <a href="#">></a>
                            </li>
                            <a href="#">3. Payment</a>
                            </li>

                        </ul>
        </div>
        </div>
    </div>
</div>

<!-- MOBILE NAV -->
<div class="global-header show-for-small-only">
    <div class="list-group">
        <div class="list-item">

            <div class="item-icon flex-05">
                <a href="#">
                    <</a> </div> <div class="item-body flex-3 text-center">
                        <b>Booking Process</b>

            </div>

            <div class="item-tail flex-05">
                Help
            </div>
        </div>
    </div>

</div>

<div class="topbar show-for-small-only">
    <ul class="menu align-center">
        <li>1. Booking Details</li>
        <li>></li>
        <li>2. Review</li>
        <li>></li>
        <li>3. Payment</li>
    </ul>
</div>