<!-- DESKTOP NAV -->

<div class="global-header show-for-medium">
    <div class="list-group">
        <div class="list-item">
            <div class="item-icon flex-2">
                Logo
            </div>

            <div class="item-tail flex-3">
                <ul class="menu align-right">
                    <li>
                        <a href="#">Bussiness Profile</a>
                    </li>
                    <li>
                        <a href="#">My Booking</a>
                    </li>
                    <li>
                        <a href="#">Promos</a>
                    </li>
                    <li>
                        <a href="#">Register</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- MOBILE NAV -->
<div class="global-header show-for-small-only">
    <div class="list-group">
        <div class="list-item">

            <div class="item-icon flex-05">
                Nav
            </div>
            <div class="item-body flex-3">
                Logo
            </div>

            <div class="item-tail flex-1">
                Help
            </div>
        </div>
    </div>

</div>

<div class="topbar">
    Get extra disc 30% off from Petloka App
</div>