.admin-sidebar{
    min-height: 100vh;
    a{
        color:$black;
        border-bottom:1px solid $medium-gray;
    }
}

.page-container{
    h1{
        font-size:2rem;
    }
    h3{
        font-size:14px;
        text-transform: uppercase;
    }
    padding: 2% 5%;
    min-height:100vh;
    background:$medium-gray;
    .form-container{
        background:white;
        padding:5%;
        margin-bottom:1rem;
    }

    table{
        font-size:12px;
        
        tbody{
            th,td{
                padding: 0.5rem 0.625rem 0.625rem !important;
            }
        }
    }
}