.category-product-child{
    .category-product-child-content{
       
        text-align:center;
        margin-top: $global-margin;
        h1{
            font-size:25px;
            text-transform: uppercase;
        }

    }
    
}
//main-category
#category-goods-parrent{
    @include breakpoint(small only) {
        padding:0
    }


}
#category-goods-parrent.main-content{
    background:$light-gray;
   
}

//host-list
.host-list-container{

    @include breakpoint(small only) {
        padding:0
    }

}