// Footer

.footer{
    background-color:$primary-color;
    .menu{
        a{
            font-size: 12px !important;
            color:$white;
            
        }
        margin-bottom: $global-margin;

    
    }
    h5{
       
        font-size: 12px;
        color:$white;
    }

}

.mobile-global-footer-nav{
    padding: 0.5rem 0;
    position: fixed;
    bottom:0;
    width: 100%;
    background: $white;
    border-top:1px solid $medium-gray;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    .icon{
        font-size:12px;
        color:$black
    }
    .title{
        font-size:10px;
        color:$black
    }
}