
//LIST GROUP

.list-group{
    .flex-05 {
        flex:0.5
    }
    .flex-1 {
        flex:1
    }
    .flex-2 {
        flex:2
    }
    .flex-3 {
        flex:3
    }
    
    .list-item{
        display: flex;
        justify-items: center;
        justify-content: space-around;
        align-items: center;
        padding:0.5rem 0;
        &.border-bottom {
            border-bottom:1px solid $medium-gray
        }

           
    
        .item-icon{
            
            text-align: left;
            margin-right:5px;
        }
        .item-body{
            
            
            .first-line{
                font-size:14px;
                font-weight: $global-weight-bold;
            }
            .second-line{
                font-size:12px
            }
            .third-line{
                font-size:10px
            }
        }
        .item-tail{
           
            margin-left:5px;
            text-align: right;
            font-size:12px
        }
        
    }
}