.text-caption-small{
    padding: 1rem 0;
    .title{
        font-size:14px;
        text-transform: uppercase;
        font-weight: $global-weight-bold;
    }
}

.text-caption-medium{
    padding: 1rem 0;
    .title{
        font-size:20px;
        font-weight: $global-weight-bold;
        line-height: 1.3
    }
    .subtitle{
        font-size:16px;
        color: $dark-gray;
        line-height: 1.3
    }
}

.text-caption-large{
    padding: 1rem 0;
    .title{
        font-size:30px;
        font-weight: $global-weight-bold;
        line-height: 1.3
    }
    .subtitle{
        font-size:20px;
        color: $dark-gray;
        line-height: 1.3
    }
}