.topbar{
    background: $primary-color;
    text-align:center;
    color:$white;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 14px;
    @include breakpoint (small only){
       font-size: 12px;
    }
    .menu{
        li{
            padding: 0rem 5px;
            font-size: 10px
        }
    }
    
}
.global-header{
    padding: 0.3rem 1rem;
    .menu{
        a{
            color:$black;
            padding:0.5rem 0.7rem;
            font-size:14px;
        }
    }
   
}