.single-product-info{
    background: $light-gray;
}
.product-info-image{margin-bottom:$global-margin;
img{
    border-radius:$global-radius;
    height: 450px;
    width: 100%;
    object-fit: cover;
    @include breakpoint(small only) {
        border-radius: 0;
    height: 50vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
        
    }

    
}
}
.host-container{
    .host-image{

        img{
            border-radius:100%;
            max-width:50px;
            object-fit: cover;
        }
        

    }
    .host-name{
        font-weight: $global-weight-bold;
        
    }
    .host-location{
        font-size:12px;
        display: block;
    }
}

.single-product-info{
   
        padding: 2rem 0;
        
        @include breakpoint(small only) {
            padding: 0;
        }
        
        
    
    

}



.ratings span {
    font-size: 12px;
    color: #666;
    cursor: pointer
}

.ratings span:hover {
    color: #f57224;
}

.ratings strong {
    float: left;
    margin: 1px 3px 0 0
}

.ratings .rating-links {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px
}

.ratings .rating-links>a,
.no-rating a {
    line-height: 20px;
    font-size: 14px;
    color: #bdbdbd
}

.ratings .rating-links .separator {
    margin: 0 5px;
    vertical-align: top;
    line-height: 17px;
    color: #777
}

.rating-box {
    width: 90px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    text-indent: -999em;
    overflow: hidden;
    position: relative
}

.rating-box:before {
    font-family: FontAwesome;
    content: "\f005  \f005  \f005  \f005  \f005";
    width: 100px;
    height: 15px;
    color: #c3c5c9;
    display: block;
    font-size: 15px;
    line-height: 15px
}

.rating-box .rating {
    font-family: none;
    float: left;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden
}

.rating-box .rating:before {
  font-family: FontAwesome;
    content: "\f005  \f005  \f005  \f005  \f005";
    width: 100px;
    height: 15px;
    color: #f57224;
    display: block;
    font-size: 15px;
    line-height: 15px
}





.ratings .rating-box {
    display: inline-block;
    vertical-align: middle
}

.ratings-table {
    margin: 20px 0 40px;
    border: 1px solid #ddd
}

.ratings-table th,
.ratings-table td {
    font-size: 15px;
    line-height: 1.15;
    padding: 3px 0
}

.ratings-table th {
    font-weight: 700;
    padding-right: 8px
}

.ratings-table.data-table thead th {
    font-size: 11px;
    padding: 0 15px
}

.ratings-table.data-table input.radio {
    margin: 0
}

.ratings-table.data-table .nobr {
    display: block;
    line-height: 20px;
    font-weight: 600
}

.product-view #product-customer-reviews {
    margin-top: -20px
}

.product-view #product-customer-reviews li {
    border-bottom: 1px solid #eee;
    padding: 20px 0 10px
}

.avatar-image {
    float: left
}

.review-area {
    line-height: 25px;
    margin-left: 100px
}

.review-area .review-title {
    font-size: 18px
}

.review-area .review-by {
    font-style: italic;
    font-size: 12px;
    color: #ccc
}

.review-area .review-by b {
    color: #08c;
    font-weight: 400
}

.review-area .ratings-list {
    margin-bottom: 5px
}

.review-area .ratings-list .rating-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}

.review-area .ratings-list .label {
    vertical-align: middle;
    font-size: 12px;
    padding: 0 5px 0 0;
    font-weight: 400
}

.review-area .ratings-list .rating-box {
    display: inline-block;
    vertical-align: middle
}


//Product list rating
.card-product-goods{
    .rating-box:before {
        font-family: FontAwesome;
        content: "\f005  \f005  \f005  \f005  \f005";
        width: 100px;
        height: 10px;
        color: #c3c5c9;
        display: block;
        font-size: 10px;
        line-height: 10px
    }
    
    .rating-box .rating {
        font-family: none;
        float: left;
        height: 10px;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden
    }
    
    .rating-box .rating:before {
      font-family: FontAwesome;
        content: "\f005  \f005  \f005  \f005  \f005";
        width: 100px;
        height: 10px;
        color: #f57224;
        display: block;
        font-size: 10px;
        line-height: 10px
    }
    .amount{
        display:none
    }

}

.product-info-sidebar{

    .rating-box:before {
        font-family: FontAwesome;
        content: "\f005  \f005  \f005  \f005  \f005";
        width: 100px;
        height: 10px;
        color: #c3c5c9;
        display: block;
        font-size: 10px;
        line-height: 10px;
        text-align:left;
    }
    
    .rating-box .rating {
        font-family: none;
        float: left;
        height: 10px;
        position: absolute;
        left: 0;
        top: 0;
        text-align:left;
        overflow: hidden
    }
    
    .rating-box .rating:before {
      font-family: FontAwesome;
        content: "\f005  \f005  \f005  \f005  \f005";
        width: 100px;
        height: 10px;
        color: #f57224;
        display: block;
        font-size: 10px;
        line-height: 10px
    }
    .amount{
        display:none
    }
}