<footer id="main-footer" class="footer padding-center">
       

        <div class="row">

                <div class="medium-4 columns">
                        <ul class="menu align-left">
                                <li><a href="#">Petloka Admin - 2019</a></li>

                        </ul>

                </div>

        </div>

</footer>
