<section class="padding-center border-top margin-bottom-3">
        <div class="row">
                <div class="small-8 small-centered medium-4 medium-centered text-center columns">

                        <h3>Now Available on</h3>

                        <img height="100px" class="margin-bottom-2"
                                src="https://petloka.com/media/icon-petloka/mockup-02.png" alt="">
                        <p>Pesan lebih nyaman dan murah melalui Petloka Apps</p>

                        <div class="row small-up-2">
                                <div class="columns">
                                        <a href="https://play.google.com/store/apps/details?id=com.Petloka&amp;hl=en"><img
                                                        src="http://assets.goaheadbus.com/media/cms_page_media/2589/GooglePlayTransparent.png"
                                                        alt=""></a>
                                </div>
                                <div class="columns">
                                        <a href="https://play.google.com/store/apps/details?id=com.Petloka&amp;hl=en"><img
                                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/1280px-Download_on_the_App_Store_Badge.svg.png"
                                                        alt=""></a>
                                </div>
                        </div>
                </div>
        </div>

</section>

<footer id="main-footer" class="footer padding-center show-for-medium">
        <div class="row">
                <div class="medium-7 column">



                        <div class="row">
                                <div class="show-for-medium medium-4 columns">

                                        <h5>Customer Service</h5>
                                        <ul class="menu vertical">
                                                <li><a href="https://petloka.com/hubungi-kami/">Hubungi
                                                                Kami</a></li>
                                                <li><a href="https://petloka.com/become-sitters/">Dafter
                                                                menjadi groomer</a></li>
                                                <li><a href="https://petloka.com/service/pet-hotel/">Metode
                                                                Pembayaran</a></li>

                                        </ul>

                                </div>
                                <div class="small-6 medium-4 columns">
                                        <h5>Service</h5>
                                        <ul class="menu vertical">
                                                <li><a href="#">Grooming</a></li>
                                                <li><a href="#">Pet Hotel</a></li>
                                                <li><a href="#">Shop</a></li>
                                        </ul>
                                </div>
                                <div class="small-6 medium-4 columns">
                                        <h5>Account</h5>
                                        <ul class="menu vertical">
                                                <li><a href="">Become a sitters</a></li>
                                                <li><a href="">Term and Conditions</a></li>
                                                <li><a href="">Privacy</a></li>
                                        </ul>
                                </div>
                        </div>

                </div>
                <div class="medium-5 column">
                        <h5 style="color:white">Call Center</h5>
                        <h3 style="color:white" class="margin-bottom-05">(0815) 8601 2528</h3>
                        <h5>Payment Method</h5>

                        <div class="row medium-up-5 margin-bottom-1">
                                <div class="columns">
                                        <div class="partner-logo">
                                                <img height="35" width="58" src="https://wia.id/media/logo/visa-01.svg"
                                                        alt="">


                                        </div>
                                </div>
                                <div class="columns">
                                        <div class="partner-logo">
                                                <img height="35" width="58"
                                                        src="https://wia.id/media/logo/mastercard-01.svg" alt="">


                                        </div>
                                </div>
                                <div class="columns">
                                        <div class="partner-logo">
                                                <img height="35" width="58" src="https://wia.id/media/logo/jcb-01.svg"
                                                        alt="">


                                        </div>
                                </div>
                                <div class="columns">
                                        <div class="partner-logo">
                                                <img height="35" width="58" src="https://wia.id/media/logo/alto-01.svg"
                                                        alt="">


                                        </div>
                                </div>
                                <div class="columns">
                                        <div class="partner-logo">
                                                <img height="35" width="58"
                                                        src="https://wia.id/media/logo/bersama-2-01.svg" alt="">


                                        </div>
                                </div>

                        </div>
                        <h5>Social Media</h5>
                        <ul class="menu">
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Instagram</a></li>

                        </ul>



                </div>


        </div>

        <div class="row">

                <div class="medium-4 columns">
                        <ul class="menu align-left">
                                <li><a href="#">Petloka - 2019</a></li>

                        </ul>

                </div>

        </div>

</footer>

<nav id="mobile-navigations" class="mobile-global-footer-nav show-for-small-only text-center">
        <div class="row small-up-5">
                <div class="columns">
                        <a href="#">
                                <div class="icon">
                                        123
                                </div>
                                <div class="title">
                                        Home
                                </div>
                        </a>

                </div>
                <div class="columns">
                        <a href="#">
                                <div class="icon">
                                        123
                                </div>
                                <div class="title">
                                        Search
                                </div>
                        </a>

                </div>
                <div class="columns">
                        <a href="#">
                                <div class="icon">
                                        123
                                </div>
                                <div class="title">
                                        My Booking
                                </div>
                        </a>

                </div>
                <div class="columns">
                        <a href="#">
                                <div class="icon">
                                        123
                                </div>
                                <div class="title">
                                        Help
                                </div>
                        </a>

                </div>
                <div class="columns">
                        <a href="#">
                                <div class="icon">
                                        123
                                </div>
                                <div class="title">
                                        Account
                                </div>
                        </a>

                </div>



        </div>
</nav>