
.notif-bar{
    background: $secondary-color;
    padding:0.5rem;
    h1{
        font-size:16px;
        margin-bottom:5px;
        color: white
    }
    p{
        font-size:12px;
        color: white
    }
}

  

.hero-banner-container{
    @include position(relative,0 ,0 ,0 ,0 );
    .hero-banner-content{
        @include overlay-content();
        @include overlay-filter(rgba(0,0,0,0.1));
        padding: 10% 15%;
        h5{
            text-transform:uppercase;
        }
        h2{
            font-size:40px;
        }
        h6{
        font-size:25px;
        font-weight: $global-weight-normal}
        h3,h2,h5,h6,p{
            color:$white;
        }
        
    }

}

.search-container{
    padding:2rem;
    background:white;
    border-radius: $global-radius;
    margin-top:2rem;
    @include breakpoint(small only) {
        border-radius:none;
        margin-top:0;
        background:$light-gray;
        padding:2rem 0.5rem;
    }
    }

    //small-banner
    .small-hero-banner {
        padding: 1rem 0;
        background:$primary-color;
        margin-bottom: $global-margin;
        h1,h2{
            font-size: 15px;
            color: $white

        }
        p{
            font-size:12px;
            color: $white
        }
    }
