.card-service-grooming{
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
    border-radius:$global-radius;
    .header{
        position: relative;
        .promo{
            padding:3px 7px;
            background: $white;
            color:$secondary-color;
            position: absolute;
            font-size:10px;
            top:7px;
            left: 7px;
            font-weight: $global-weight-bold;
            border-radius: $global-radius;
        }
        .image{
            img{
                border-top-left-radius: $global-radius;
                border-top-right-radius: $global-radius;  
                height: 150px;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
            
        }
        .rating{
            position: absolute;
            bottom: 7px;
            right: 7px;
            padding:3px 7px;
            background: $white;
            color: $black;
            border-radius: $global-radius;
            font-size: 8px;
            font-weight: $global-weight-bold;
            
            
            
        }
        
    }
    .content{
        background:$white;
        padding: 0.5rem;
        border-bottom-left-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
        margin-bottom:1rem;
        .profile-image{
            img{
                border-radius:100%;
                height: 50px;
                width: 50px;
                -o-object-fit: cover;
                object-fit: cover;
                @include breakpoint (small only){
                    height: 40px;
                    width: 40px;
                }
            }
        }
        
        .title{
            font-size:14px;
            color:$black;
            font-weight: $global-weight-bold;
            line-height: 1.4;

        }
        .price{
            font-size: 12px;
            color:$dark-gray;
            line-height: 1.4;
        }
        .location{
            font-size: 10px;
            color:$dark-gray; 
        }
    }
}