//card-serice-profile
.card-service-profile{
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
    .header{
        .slider-image{
            .item{
                img{
                    height: 400px;
                    width: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-top-left-radius: $global-radius;
                    border-top-right-radius: $global-radius;
                    @include breakpoint (small only){
                        height: 250px;
                    }
                }
            }
        }
    }
    .content{
        padding: 1rem;
        background: $white;
        border-bottom-left-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
        .service-rating{
            margin-bottom: 1rem;
            font-weight: $global-weight-bold;
            .review-stars{
                font-size:18px;
                @include breakpoint (small only){
                    font-size: 16px;
                }
            }
            .review-count{
                font-size:14px;
                @include breakpoint (small only){
                    font-size: 12px;
                }
            }
            .booked{
                font-size:14px;
                @include breakpoint (small only){
                    font-size: 12px;
                }
                
            }
        }
        .service-description{
            padding:0.5rem 0;
            border-bottom: 1px solid $medium-gray;
            @include breakpoint (small only){
                font-size: 12px;
            }
            
        }
        .service-help{
            padding:0.5rem 0;
        }
        .schedule{
            font-weight: $global-weight-bold;
            text-transform: uppercase;
            font-size: 12px;
        }
        .profile-image{
            img{
                border-radius:100%;
                height: 75px;
                width: 75px;
                -o-object-fit: cover;
                object-fit: cover;
                @include breakpoint (small only){
                    height: 50px;
                    width: 50px;
                }
                
            }
        }
        .service-type{
            text-transform: uppercase;
            font-size: 14px;
            @include breakpoint (small only){
                font-size: 12px;
            }
        }
        .title{
            font-size: 25px;
            line-height: 1.3;
            margin: 0;
            @include breakpoint (small only){
                font-size: 18px;
            }
        }
        .service-chips{
            li{
                font-size:14px;
                color:$dark-gray;
                margin-right: 0.5rem;
            }
            margin-bottom: 0.5rem;
            
        }
       
    }
}

//card-product-hotel
.card-product-hotel{
    padding: 1rem;
    border-bottom:1px solid $light-gray;
    background: $white;
    
    .name{
        font-size: 16px;
        font-weight: $global-weight-bold;
        line-height: 1.4;
        color:$black;
        @include breakpoint(small only) {
            font-size:14px;
           }
    }
    .see-details{
        font-size: 12px
    }
    .promo{
        font-size: 10px;
        font-weight: $global-weight-bold;
        background:$secondary-color;
        display: inline;
        color:white;
        padding: 3px 5px;
        border-radius:$global-radius;
        @include breakpoint(small only) {
            font-size: 7px;
            margin-bottom: 10px;
          }
    }
    .description{
        font-size: 14px;
        margin-bottom:0.5rem;
        color: $dark-gray;
        line-height: 1.4;
        @include breakpoint(small only) {
           margin-bottom: 0;
           font-size:12px;
          }
    }
    .price{
        text-align: right;
        color: $black;
        font-size:18px;
        margin-bottom: 0.5rem;
        font-weight: $global-weight-bold;
        @include breakpoint(small only) {
            font-size: 12px;
            margin-bottom: 0.5rem;
          }
    }
    .book-button{
        border:1px solid $dark-gray;
        padding: 5px 7px;
        font-size: 10px;
        text-align:center;
        display: inline;
        text-transform:uppercase
    }
}



//card ovelay

.card-overlay{
    position: relative;
    text-align:center;
    border-radius: $global-radius;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
    
    .card-image{
        img{
            height: 350px;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: $global-radius;
        }
        
        
    }
    .card-content-container{
        background: rgba(0,0,0,.1);
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        border-radius: $global-radius;
        .card-content{
            color: $white;
            padding: 10%;

            @include breakpoint(small only) {
                padding: 20%;

              }
            
            .title{
                font-size:25px;
                font-weight: $global-weight-bold
            }
            .subtitle{
                font-size:18px;
                
            }
        }
        

    }
}