.sidebar-account{
    .switch-account{
        padding: 1rem;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
        border-radius:$global-radius;
        color: $black;
        margin-bottom:1rem;
    }
    .profile-image{
        img{
            border-radius:100%;
            height: 50px;
            width: 50px;
            -o-object-fit: cover;
            object-fit: cover;
            margin-bottom:0.5rem;
            
        }
        
    }
    .profile-name{
        font-size:25px;
        font-weight: $global-weight-bold;
    }
    .profile-description{
        margin-bottom:1rem;
    }
    ul{
        margin-left:0;
        margin-top:2rem;
        li{
           display: block;
           a{
               color:$black;
               font-size:16px;
               line-height: 2rem;
                display: block;
               @include breakpoint (small only){
                   font-size: 18px;
                   line-height: 3rem;
                   display: block;
                   border-bottom: 1px solid #eee;
               }
           }
        }
    }
}