
<section class="small-hero-banner show-for-small-only" >
        <div class="row">
                <div class="medium-12 columns">
                        <h2>This is headline</h2>
                        <p>Tagline</p>
                </div>
        </div>
</section>