<section id="banner-hero" class="hero-banner show-for-medium">
        <div class="row collapse">
            <div class="medium-12 columns">
                <div class="hero-banner-container">
                        <div class="hero-banner-image">
                                <img src="https://via.placeholder.com/2560x600" alt="">
                        </div>
                        <div class="hero-banner-content">
                                
                                <h2>Find a grooming service in your area</h2>
                                <p>Get 10% Off all Product</p>
                        </div>
                </div>
                    
            </div>
        </div>
</section>
