<section id="homepage-search-banner" class="hero-banner">
        <div class="row collapse show-for-medium">
            <div class="medium-12 columns">
                <div class="hero-banner-container">
                        <div class="hero-banner-image">
                                <img src="https://via.placeholder.com/2560x1200" alt="">
                        </div>
                        <div class="hero-banner-content">
                                
                                <h2>Find an on demand pet service</br>in your area</br>
                                
                                </h2>
                                <h6>Grooming, Pet Hotel and supplies</h6>
                                <div class="search-container">
                                    <div class="row">
                                        <div class="medium-6 columns">
                                                <div class="row">
                                                        <div class="medium-6 columns">
                                                                <label>Find a service
                                                                        <select>
                                                                          <option value="husker">Grooming</option>
                                                                          <option value="starbuck">Pet Hotel</option>
                                                                          
                                                                        </select>
                                                                      </label>
                                                        </div>
                                                        <div class="medium-6 columns">
                                                                <label>Select your pet
                                                                        <select>
                                                                          <option value="husker">Dog</option>
                                                                          <option value="starbuck">Cat</option>
                                                                          
                                                                        </select>
                                                                      </label>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                        </div>
                                        <div class="medium-6 columns">
                                            <div class="row">
                                                <div class="medium-6 columns">
                                                        <label>Location
                                                                <select>
                                                                  <option value="husker">Jakarta</option>
                                                                  <option value="starbuck">Tangerang</option>
                                                                  
                                                                </select>
                                                              </label>
                                                </div>
                                                <div class="medium-6 columns">
                                                        <a href="#" class="button expanded" style="margin-top:1.5rem">Search Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
                    
            </div>
            
        </div>
        
        <div class="search-container show-for-small-only">
                <div class="row">
                    <div class="medium-6 columns">
                            <div class="row">
                                    <div class="medium-6 columns">
                                            <label>Find a service
                                                    <select>
                                                      <option value="husker">Grooming</option>
                                                      <option value="starbuck">Pet Hotel</option>
                                                      
                                                    </select>
                                                  </label>
                                    </div>
                                    <div class="medium-6 columns">
                                            <label>Select your pet
                                                    <select>
                                                      <option value="husker">Dog</option>
                                                      <option value="starbuck">Cat</option>
                                                      
                                                    </select>
                                                  </label>
                                    </div>
                                    
                                    
                                </div>
                    </div>
                    <div class="medium-6 columns">
                        <div class="row">
                            <div class="medium-6 columns">
                                    <label>Location
                                            <select>
                                              <option value="husker">Jakarta</option>
                                              <option value="starbuck">Tangerang</option>
                                              
                                            </select>
                                          </label>
                            </div>
                            <div class="medium-6 columns">
                                    <a href="#" class="button expanded" style="margin-top:1.5rem">Search Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
</section>

