<section id="main">
    <div class="row collapse">
        <div class="medium-3 columns">
            {{> admin-sidebar}}
        </div>
        <div class="medium-9 columns">
            <div class="page-container">
                <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Manage Service List</a>
                <h1>Manage Service View</h1>


                <div class="table-container">
                    <h3>Host Info</h3>
                    <table>
                        <thead>
                            <tr>
                                <th width="200">Name</th>
                                <th>Email</th>
                                <th width="150">Phone</th>
                                <th width="150">Location</th>
                                <th width="150">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>James</td>
                                <td>james@mail.com</td>
                                <td>082178317823</td>
                                <td>Jakarta</td>
                                <td>View</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                

                <div class="table-container">
                        <h3>Product Info</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th width="200">Service Type</th>
                                    <th>Product Name</th>
                                   
                                    <th width="150">Attribute</th>
                                    <th width="150">Price</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Grooming</td>
                                    <td>Grooming Chantique</td>
                                    
                                    <td>
                                        <ul>
                                            <li>Complete with Aromatic Perfume</li>
                                            <li>Fullbath</li>
                                        </ul>

                                    </td>
                                    <td>Rp 123123123</td>
                                    
                                </tr>
                                <tr>
                                        <td>Hotel</td>
                                        <td>Hotel Chantique</td>
                                        
                                        <td>
                                            <ul>
                                                <li>AC</li>
                                                <li>Room</li>
                                            </ul>
    
                                        </td>
                                        <td>Rp 123123123</td>
                                        
                                    </tr>
    
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</section>