<section id="main">
        <div class="row collapse">
            <div class="medium-3 columns">
                    {{> admin-sidebar}}
    
            </div>
            <div class="medium-9 columns">
                <div class="page-container">
                    <h1>Catalog Manage Service List</h1>
    
                    <table>
                        <thead>
                          <tr>
                            <th width="200">Service Name</th>
                            <th width="150">Service Type</th>
                            <th width="150">Service Area</th>
                            <th width="150">Host Name</th>
                            <th width="150">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Hello Petshop</td>
                            <td>Grooming</td>
                            <td>Jakarta</td>
                            <td>James - Service Name</td>
                            <td>View</td>
                          </tr>
                         
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </section>