<section id="main">
        <div class="row collapse">
            <div class="medium-3 columns">
                    {{> admin-sidebar}}
    
            </div>
            <div class="medium-9 columns">
                <div class="page-container">
                    <h1>Manage Customer List</h1>
    
                    <table>
                        <thead>
                          <tr>
                            <th width="200">ID</th>
                            <th width="150">Name</th>
                            <th width="150">Email</th>
                            <th width="150">Location</th>
                            <th width="150">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>3123123</td>
                            <td>James</td>
                            <td>james@mail.com</td>
                            <td>Jakarta</td>
                            <td>View</td>
                          </tr>
                         
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </section>