<section id="main">
        <div class="row collapse">
            <div class="medium-3 columns">
                {{> admin-sidebar}}
            </div>
            <div class="medium-9 columns">
                <div class="page-container">
                    <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Manage Customer List</a>
                    <h1>Manage Customer View</h1>
    
    
                    <div class="table-container">
                        <h3>Customer Info</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th width="200">Name</th>
                                    <th>Email</th>
                                    <th width="150">Phone</th>
                                    <th width="150">Location</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>James</td>
                                    <td>james@mail.com</td>
                                    <td>082178317823</td>
                                    <td>Jakarta</td>
                                   
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
    
                    
    
                    <div class="table-container">
                            <h3>Profile</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Bio</th>
                                        <th width="150">Host?</th>
                                        <th width="150">Verified?</th>
                                        <th width="150">Certification</th>
                                        
                                       
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Hello, my name is james. I am James!</td>
                                        
                                        <td>Yes / No</td>
                                        
                                        <td>Yes / No</td>
                                        <td>
                                                <ul>
                                                    <li>Pet Doctor</li>
                                                    <li>Pet Doctor</li>
                                                  
                                                </ul>
        
                                            </td>
                                        
                                    </tr>
                                   
        
                                </tbody>
                            </table>
                    </div>

                    <div class="table-container">
                            <h3>Bank Account Info</h3>
                            <table>
                                <thead>
                                    <tr>
                                            <th width="150">Account Name</th>
                                        
                                            <th width="150">Bank Name</th>
                                        <th width="150">Account Number</th>
                                        
                                       
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                            <td>James Roberto</td>
                                        <td>BCA</td>
                                        
                                        <td>31233123</td>
                                        
                                        
                                      
                                        
                                    </tr>
                                   
        
                                </tbody>
                            </table>
                    </div>

                    <div class="table-container">
                            <h3>Address Info</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th width="200">Street</th>
                                        <th>Region</th>
                                       
                                        <th width="150">City</th>
                                        <th width="150">Location Long/Lat</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Jl. Pinus 1 no 58. Taman Royal 1, Cipondoh</td>
                                        <td>Banten</td>
                                        
                                        <td>
                                           Tangerang
    
                                        </td>
                                        <td>3124123132, -3123124123</td>
                                        
                                    </tr>
                                   
        
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </section>