
    <div class="row">
            <div class="medium-8 medium-centered columns">
                    <div class="text-caption-large show-for-medium">
                            <div class="title">
                                2. Review
                            </div>
                            <p class="subtitle">Please review your booking</p>
                        </div>
                <div class="booking-container">
                        <div class="booking-callout service-details">
                           <div class="list-group">
                               <div class="list-item flex-05">
                                   <div class="item-body flex-3">
                                       <div class="first-line">
                                           Rp 319831
                                       </div>
                                       <div class="third-line">
                                           Exc. Transportation Fee
                                       </div>
                                    </div>
                                    <div class="item-tail flex-1">
                                        <a href="#">See Details</a>
                                    </div>
                               </div>
                           </div>
                        </div>
    
                    <div class="text-caption-small">
                        <div class="title">
                            Booking Review
                        </div>
                    </div>
                    <div class="booking-callout booking-review">
                            <div class="row">
                                <div class="small-6 columns">
                                    <p>Request Date</p>
                                    <p>date</p>
                                </div>
                                <div class="small-6 columns">
                                        <p>Request Time</p>
                                        <p>Time</p>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="small-12 columns">
                                        <p>Booking Location</p>
                                        <p>Location</p>
                                    </div>
                                    
                                </div>
                            <div class="list-group">
                                     
                                    <div class="list-item border-bottom">
                                        <div class="item-body flex-2">
                                            <div class="second-line">
                                                Subtotal
                                            </div>
                                            
                                         </div>
                                         <div class="item-tail flex-2">
                                             RP 18939182
                                         </div>
                                    </div>
                                    <div class="list-item border-bottom">
                                            <div class="item-body flex-2">
                                                <div class="second-line">
                                                    Transportation Fee
                                                </div>
                                                
                                             </div>
                                             <div class="item-tail flex-2">
                                                 Not Included
                                             </div>
                                        </div>
                                        <div class="list-item border-bottom">
                                                <div class="item-body flex-2">
                                                    <div class="first-line">
                                                        Total
                                                    </div>
                                                    
                                                 </div>
                                                 <div class="item-tail flex-2" style="font-weight: bold">
                                                     RP 18939182
                                                 </div>
                                            </div>
                                </div>
                    </div>

                    <div class="text-caption-small">
                            <div class="title">
                               Payment Method
                            </div>
                        </div>
                        <div class="booking-callout booking-review">
                                <div class="list-group">
                                        <div class="list-item flex-05">
                                            <div class="item-body flex-3">
                                                <div class="first-line">
                                                    Manual Bank Transfer
                                                </div>
                                                <div class="third-line">
                                                    Direct transfer to our bank account
                                                </div>
                                             </div>
                                             
                                        </div>
                                    </div>
                        </div>
                    
                    <div class="booking-callout">
                        <a href="#" class="button expanded">Book Now</a>
                        <p class="tiny-text text-center">By place an order you are agree to our terms and conditions</p>
                    </div>
                </div>
            </div>
        </div>
    