
    <div class="row">
        <div class="medium-8 medium-centered">
                <div class="text-caption-large show-for-medium">
                        <div class="title">
                            1. Booking Details
                        </div>
                        <p class="subtitle">Please complete the booking form</p>
                    </div>
            <div class="booking-container">
                    <div class="booking-callout service-details">
                       <div class="list-group">
                           <div class="list-item flex-05">
                               <div class="item-body flex-3">
                                   <div class="first-line">
                                       Rp 319831
                                   </div>
                                   <div class="third-line">
                                       Exc. Transportation Fee
                                   </div>
                                </div>
                                <div class="item-tail flex-1">
                                    <a href="#">See Details</a>
                                </div>
                           </div>
                       </div>
                    </div>

                <div class="text-caption-small">
                    <div class="title">
                        Contact Details
                    </div>
                </div>
                <div class="booking-callout contact-details">
                    .
                </div>
                <div class="text-caption-small">
                    <div class="title">
                        Booking Details
                    </div>
                </div>
                <div class="booking-callout booking-details">
                    .
                </div>

                <div class="booking-callout">
                    <a href="#" class="button expanded">Continue to Review</a>
                </div>
            </div>
        </div>
    </div>
