<section id="booking-form" class="padding-center">

        <div class="row small-collapse medium-uncollapse">
                <div class="medium-12 columns">
                    <div class="booking-form-container">
                        <h3>Login</h3>
                        <div class="booking-contact-details">
    
                            <div class="row">
                                <div class="medium-6 columns">
                                    <label>Input Label
                                        <input type="text" placeholder=".medium-6.cell">
                                    </label>
                                </div>
                                <div class="medium-6 columns">
                                    <label>Input Label
                                        <input type="text" placeholder=".medium-6.cell">
                                    </label>
                                </div>
                                <div class="medium-6 columns">
                                    <label>Input Label
                                        <input type="text" placeholder=".medium-6.cell">
                                    </label>
                                </div>
                                <div class="medium-6 columns">
                                    <label>Input Label
                                        <input type="text" placeholder=".medium-6.cell">
                                    </label>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
    
                    
                </div>
               
            </div>


    <form action="" class="form">
        <div class="row small-collapse medium-uncollapse">
            <div class="medium-7 columns">
                <div class="booking-form-container">
                    <h3>Contact Details</h3>
                    <div class="booking-contact-details">

                        <div class="row">
                            <div class="medium-6 columns">
                                <label>Input Label
                                    <input type="text" placeholder=".medium-6.cell">
                                </label>
                            </div>
                            <div class="medium-6 columns">
                                <label>Input Label
                                    <input type="text" placeholder=".medium-6.cell">
                                </label>
                            </div>
                            <div class="medium-6 columns">
                                <label>Input Label
                                    <input type="text" placeholder=".medium-6.cell">
                                </label>
                            </div>
                            <div class="medium-6 columns">
                                <label>Input Label
                                    <input type="text" placeholder=".medium-6.cell">
                                </label>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="booking-form-container">
                    <h3>Payment Method</h3>
                    <div class="booking-contact-details">

                        <div class="row">
                            <div class="medium-12 columns">
                                <label>Input Label
                                    <input type="text" placeholder=".medium-6.cell">
                                </label>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="medium-5 columns">
                <div class="booking-form-container order-summary">
                    <h3>Order Summary</h3>
                    <div class="booking-contact-details">

                        <div class="row">
                            <div class="medium-12 columns">

                                <table>


                                    <tbody>
                                        <tr>
                                            <td><b>Subtotal</b></b></td>
                                            <td class="text-right" style="width:30%">Ro 1000</td>
                                        </tr>
                                        <tr>
                                            <td>Subtotal</td>
                                            <td class="text-right" style="width:30%">Ro 1000</td>
                                        </tr>
                                        <tr>
                                            <td>Taxes</td>
                                            <td class="text-right" style="width:30%">0</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="fix-button">
                                    <div class="row collapse">
                                        <div class="small-6 columns">
                                            <p>Total</p>
                                        </div>
                                        <div class="small-6 columns text-right">
                                            <div class="total">
                                                Rp 123123
                                            </div>
                                        </div>
                                    </div>
                                    <a href="" class="button expanded">Button</a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </form>


</section>