{{> hero-banner-half}}

<section id="category-goods-parrent" class="main-content padding-center">
    
    <div class="row ">
        
        <div id="sticky-top-anchor" class="medium-4 columns" data-sticky-container>
            <div class="stsicky " data-sticky data-top-anchor="sticky-top-anchor:top" data-btm-anchor="sticky-bottom-anchor:bottom">
                    {{> navigation-sidebar}}
            </div>
            
        </div>
        <div id="sticky-bottom-anchor" class="medium-8 columns">
                
                    
            <div class="host-list-container">
                    <div class="callout alert" data-closable>
                            <p>But when you're done reading it, click the close button in the corner to dismiss this alert.</p>
                            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                    <div class="row medium-up-1">
                            {{#repeat 12}}
                            <div class="columns">
                                {{> card-experience-host}}
                            </div>
                            {{/repeat}}
                        </div>

            </div>
            
            
        </div>
    </div>
</section>



