<div class="row">
    <div class="medium-4 column">
        {{> sidebar-account}}
    </div>
    <div class="medium-8 column">
        <div class="main-container">
                <div class="text-caption-small">
                        <div class="title">
                            This is caption
                        </div>
                    </div>
                    <div class="group-list rounded-container white">
                        <a href="">
                            <div class="group-list-container border-bottom">
                                <div class="group-list-item-header">
                                    <div class="chips">
                                        Processing
                                    </div>
                                    <div class="title">
                                        Paket hemat boss
                                    </div>
                                    <div class="sub-title">
                                        Booking Id : 31874913
                                    </div>
                                </div>
                                <div class="group-list-item-tail">
                                    <i class="fa fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <a href="">
                                <div class="group-list-container border-bottom">
                                    <div class="group-list-item-header">
                                        <div class="chips">
                                            Processing
                                        </div>
                                        <div class="title">
                                            Paket hemat boss
                                        </div>
                                        <div class="sub-title">
                                            Booking Id : 31874913
                                        </div>
                                    </div>
                                    <div class="group-list-item-tail">
                                        <i class="fa fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                
            
                    </div>
        </div>
        

    </div>
</div>