



<div class="row">

        <div class="medium-12 columns">
                {{> text-caption-large}}
                {{> card-overlay}}
                <br>
                
        </div>

    <div class="medium-12 columns">
            {{> text-caption-medium}}
    </div>
        <div class="medium-4 columns">
            {{> card-service-grooming}}
        </div>
        <div class="medium-4 columns">
            {{> card-service-grooming}}
        </div>
        <div class="medium-4 columns">
            {{> card-service-grooming}}
        </div>
      </div>
      
      <br>
      
      <div class="row">
        <div class="medium-10 medium-centered small-12 columns">
            {{> card-service-profile}}
            {{> text-caption-small}}
            {{> card-product-hotel}}
            {{> card-product-hotel}}
            {{> card-product-hotel}}
      
            {{> text-caption-small}}
            {{> card-product-hotel}}
            {{> card-product-hotel}}
            {{> card-product-hotel}}
        </div>
      </div>
