<section id="main">
    <div class="row collapse">
       
        <div class="medium-12 medium-centered columns">
            <div class="page-container">
                
              <div class="medium-5 medium-centered">
                  <div class="form-container">
                      <h3>Login</h3>
                      <label for="name">Username</label>
                      <input type="text" name="username">
                      
                      <label for="name">Password</label>
                      <input type="text" name="password">
                      
                      <a href="" class="button expanded">Login</a>
  
                     
                  </div>
              </div>

                
                
                  
            </div>
        </div>
    </div>
</section>