<section id="product-experience-info" class="single-product-info border-bottom">
    <div class="row small-collapse medium-uncollapse">

        <div class="medium-7 columns">

            <div class="product-info-image">
                <img src="https://via.placeholder.com/1200x900" alt="">
            </div>

        </div>
        <div class="medium-5 columns">
            <div class="card-list callout">
                <div class="host-container margin-bottom-2">

                    <div class="row medium-uncollapse margin-bottom-2">
                        <div class="small-3 medium-3 columns">
                            <span class="host-image">
                                <img src="https://via.placeholder.com/100x100" alt="">
                            </span>
                        </div>
                        <div class="small-9 medium-9 columns">
                            <h5>James Roberto</h5>
                            <p>Jakarta</p>
                            
                        </div>
                        
                        
                    </div>

                    <div class="row show-for-medium">
                        <p class="margin-bottom-0">Service Start From</p>
                        <h3>Rp 3000</h3>
                        
                        <a href="#" class="button secondary expanded">Select Service</a>
                        <p>Aditional service available</p>
                    </div>
                    


                </div>
                
                
            </div>


        </div>

    </div>
</section>

<section id="product-experience-details" class="single-product-details padding-center border-bottom">
    <div class="row ">

        <div class="medium-7 columns">
            <div class="experience-details margin-bottom-2">
                <h3>This is headline</h3>
                <h5>About Me</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere, eos
                    facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex nostrum id,
                    ratione exercitationem ullam!</p>
                <h5>My Service</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum provident tenetur ab facere, eos
                    facilis laudantium? Numquam explicabo quidem cumque harum maiores, nesciunt minima ex nostrum id,
                    ratione exercitationem ullam!</p>
            </div>

            <div class="experience-include">
                <h3>Service Detail</h3>
                <div class="row medium-up-2">
                    <div class="columns">
                        <h5>Basic Service</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magnam incidunt facere velit
                            eos. Nisi eveniet, aliquid soluta, dolore veritatis sint atque amet dolor quibusdam harum
                            architecto praesentium eum laudantium!</p>
                    </div>
                    <div class="columns">
                        <h5>Additional Service</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magnam incidunt facere velit
                            eos. Nisi eveniet, aliquid soluta, dolore veritatis sint atque amet dolor quibusdam harum
                            architecto praesentium eum laudantium!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="medium-5 columns">
            <div class="card-list callout callout-border">
                <h3>Operational Hours</h3>
                <div class="row medium-up-1 serice-list margin-bottom-2">
                    <div class="columns">
                        <div class="padding-center-1 border-bottom">
                            <div class="row">
                                <div class="small-7 medium-7 columns">
                                    <h5>Grooming</h5>
                                    <p>Grooming Service</p>
                                </div>
                                <div class="small-5 medium-5 columns text-right">
                                    <h5>Rp 150.000,00</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="columns">
                        <div class="padding-center-1 border-bottom">
                            <div class="row">
                                <div class="small-7 medium-7 columns">
                                    <h5>Grooming</h5>
                                    <p>Grooming Service</p>
                                </div>
                                <div class="small-5 medium-5 columns text-right">
                                    <h5>Rp 150.000,00</h5>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>



        </div>
    </div>



</section>

<section id="product-experience-review" class="single-product-details padding-center" style="background:#fafafa">
    <div class="row ">

        <div class="medium-12 columns">
            <div class="experience-details margin-bottom-2 border-bottom">
               <h3>Select Packet</h3>
               <ul class="no-bullet group-list">
                   <li>
                    <a href="">
                        <div class="card-host">
                    
                            <div class="row collapse">
                                
                                <div class="medium-12 columns">
                        
                                    <div class="card-host-detail">
                                        <div class="row">
                                            <div class="small-9 medium-9 columns">
                                                <div class="card-content">
                                                    <h5>GROOMING SERVICE</h5>
                                                    <h2>This is title</h2>
                                                  
                                                    <div class="location margin-bottom-0"><i class="fa fa-map-marker" aria-hidden="true"></i> Location</div>
                                                    <div class="location margin-bottom-0"><i class="fa fa-map-marker" aria-hidden="true"></i> Verified Groomer</div>
                                                    
                                                    <p>It has an easy to override visual style, and is appropriately
                                                        subdued.</p>
                        
                                                </div>
                                            </div>
                                            <div class="small-3 medium-3 columns text-center">
                                                <h3>Rp 150.000,00</h3>
                                                <div class="button tiny secondary">Book Now</div>
                                                
                                            </div>
                                        </div>
                                    </div>
                        
                        
                                </div>
                        
                            </div>
                        
                        
                        </div>
                    </a>
                    
                   </li>

                   <li>
                        <div class="packet">
                            <div class="row">
                                <div class="medium-12 columns">
                                       <p>Semua pesanan melalui petloka mendapatkan garansi perlindungan konsumen, hubungi customer service kami untuk bantuan</p>
                                </div>
                              
                            </div>
                            
                        </div>
                   </li>

               </ul>

            </div>


        </div>
       
    </div>



</section>

<nav id="mobile-navigations" class="mobile-global-footer-nav show-for-small-only text-center">
        <div class="row">
                <div class="small-7 columns text-left">
                    <p class="margin-bottom-0">Start From</p>  
                    <h3>Rp 333</h3>

            </div>
            <div class="small-5 columns">
                <a href="" class="button secondary expanded">Select Service</a>
            </div>
        </div>
</nav>