<div class="row">
    <div class="medium-4 columns">
        sidebar
    </div>
    <div class="medium-8 columns">
        <div class="service-list">
            <div class="row medium-up-2">
                <div class="columns">
                    {{> card-service-grooming}}
                </div>
                <div class="columns">
                    {{> card-service-grooming}}
                </div>
                <div class="columns">
                    {{> card-service-grooming}}
                </div>
                <div class="columns">
                    {{> card-service-grooming}}
                </div>
                <div class="columns">
                    {{> card-service-grooming}}
                </div>
               
            </div>
        </div>
    </div>
</div>