

<section id="featured-block-experience-category" class="featured-block padding-center">
        <div class="featured-block-header">
            <div class="row">
                <div class="medium-12 columns">
                    <h2>Top Service</h2>
                </div>
            </div>
        </div>
        <div class="featured-block-content">
                <div class="row small-up-1 medium-up-2">
                        {{#repeat 2}}
                        <div class="columns">
                            {{> card-overlay}}
                        </div>
                        {{/repeat}}
                </div>
        </div>
</section>



<section id="featured-block-become-sitters" class="featured-block padding-center show-for-small-only">
        <div class="featured-block-header">
            <div class="row">
                <div class="medium-12 columns">
                    <h2>Become a Sitters</h2>
                </div>
            </div>
        </div>
        <div class="featured-block-content">
                <div class="row small-up-1 medium-up-2">
                        {{#repeat 1}}
                        <div class="columns">
                            {{> card-overlay}}
                        </div>
                        {{/repeat}}
                </div>
        </div>
</section>

