<div class="admin-sidebar sticky" data-sticky data-top-anchor="main" data-btm-anchor="main-footer">
        <ul class="vertical menu accordion-menu" data-accordion-menu>
            <li>
              <a href="#">Sales</a>
              <ul class="menu vertical nested">
                <li><a href="#">Order</a></li>
               
              </ul>
            </li>
            <li>
                <a href="#">Catalog</a>
                <ul class="menu vertical nested">
                  <li><a href="#">Manage Service</a></li>
                 
                </ul>
              </li>

              <li>
                <a href="#">Customer</a>
                <ul class="menu vertical nested">
                  <li><a href="#">Manage Customer</a></li>
                 
                </ul>
              </li>
              <li>
                <a href="#">Promotion</a>
                <ul class="menu vertical nested">
                  <li><a href="#">Voucher</a></li>
                  <li><a href="#">Catalog Rules</a></li>
                 
                </ul>
              </li>
             
            
          </ul>
    </div>