<div id="category-sidebar" class="navigation-sidebar margin-bottom-1">
        
        <nav class="navigation-sidebar-list">
                        <label>Find a service
                                        <select>
                                          <option value="husker">Grooming</option>
                                          <option value="starbuck">Pet Hotel</option>
                                          
                                        </select>
                        </label>
                        <div class="button tiny hollow show-for-small-only expanded">
                                show filter
                        </div>
        </nav>
       
        <div class="filter-container">
                        
                        <nav class="navigation-sidebar-list">
                                <div class="nav-caption">
                                                <h5>Location</h5>
                                                <p>dasdas</p>
                                </div>
                                
                                <ul class="menu vertical">
                                    <li><a href="#">Menu</a></li>
                                    <li><a href="#">Menu</a></li>
                                    <li><a href="#">Menu</a></li>
                                    <li><a href="#">Menu</a></li>
                                    <li><a href="#">Menu</a></li>
                                </ul>
                        </nav>
                
                        <nav class="navigation-sidebar-list">
                                        <div class="nav-caption">
                                                        <h5>Location</h5>
                                                        <p>dasdas</p>
                                        </div>
                                <ul class="menu vertical filter">
                                    <li><a href="#">Menu</a></li>
                                    <li><a href="#">Menu</a></li>
                                    <li><a href="#">Menu</a></li>
                                    <li><a href="#">Menu</a></li>
                                </ul>
                        </nav>
        </div>
      
      

</div>


    
    