<div class="sidebar-account">
    
    

    <div class="profile-image">
        <img src="https://tvlk.imgix.net/imageResource/2017/05/23/1495539753478-be3f37a9133fa6e3f40688781d07e885.png?auto=compress%2Cformat&cs=srgb&fm=png&ixlib=java-1.1.12&q=75" alt="">
    </div>
    <div class="profile-name">
        Hi, James
    </div>
    <div class="profile-description">
        <p>
            You can see your booking process and manage your customer account in here
        </p>
    </div>

    <a href="#" class="button expanded">
           
            Switch to your service profile
      
</a>
    
    <ul>
        <li>
            <a href="#">
                Profile
            </a>
        </li>
        <li>
            <a href="#">
                Booking
            </a>
        </li>
    </ul>
</div>