<section id="main">
        <div class="row collapse">
            <div class="medium-3 columns">
                    {{> admin-sidebar}}
    
            </div>
            <div class="medium-9 columns">
                <div class="page-container">
                    <h1>Catalog Rule List</h1>
                    <a href="">+ Add New Catalog Rule</a>
                    <table>
                        <thead>
                          <tr>
                            <th width="200">ID</th>
                            <th width="150">Rule Name</th>
                            <th width="150">Expired</th>
                            <th width="150">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>3123123</td>
                            <td>Disc 20% All Gooming Service Type</td>
                            <td>25 Mei 2019</td>
                            <td>View</td>
                          </tr>
                         
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </section>