<section id="main">
        <div class="row collapse">
            <div class="medium-3 columns">
                {{> admin-sidebar}}
            </div>
            <div class="medium-9 columns">
                <div class="page-container">
                    <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Voucher List</a>
                    <h1>Voucher View / Edit</h1>
    
    
                    <div class="form-container">
                        <h3>General Info</h3>
                        <label for="name">Voucher Name</label>
                        <input type="text" name="name">
                        <label for="name">Description</label>
                        <input type="text" name="desc">
                        <label for="name">Voucher Code</label>
                        <input type="text" name="voucher-code">

                        <label for="voucher-type">Status</label>
                            <select name="" id="">
                                <option value="">Enable</option>
                                <option value="">Disable</option>
                            </select>
                            
                        <label for="name">Uses per Voucher</label>
                        <input type="text" name="uses-per-voucher">
                        <label for="name">Uses per Customer</label>
                        <input type="text" name="uses-per-customer">

                        <label for="name">From Date</label>
                        <input type="text" name="from-date">
                        <label for="name">To Date</label>
                        <input type="text" name="to-date">
                    </div>

                    <div class="form-container">
                            <h3>Action</h3>
                            <label for="voucher-type">Discount Type</label>
                            <select name="" id="">
                                <option value="">Fix Amount</option>
                                <option value="">By Percentage</option>
                            </select>

                            

                            <label for="voucher-value">Discount Value</label>
                            <input type="text" name="voucher-value">

                            <label for="value">Max Discount ( optional for % discount )</label>
                            <input type="text" name="max-value">
                           
                    </div>

                    <div class="form-container">
                            <h3>Rules</h3>
                            <label for="voucher-type">Service Type</label>
                            <select multiple>
                                    <option value="">Grooming</option>
                                    <option value="">Hotel</option>
                            </select>

                            <label for="asset">Asset</label>
                            <select multiple>
                                    <option value="">Apps</option>
                                    <option value="">Web</option>
                            </select>


                            <label for="voucher-type">Enable For Discount Product?</label>
                            <select name="" id="">
                                <option value="">Yes</option>
                                <option value="">No</option>
                            </select>

                           
                    </div>

                    <button class="button">Save</button>

                  
    
                    
    
                    
                </div>
            </div>
        </div>
    </section>