<div class="group-list-payment">
    <div class="row">
        <div class="small-12 columns">
            <div class="group-list-container">
                <div class="group-list-item-first">
                    <div class="icon">
                        <img src="https://via.placeholder.com/650x400" alt="">
                    </div>
                    
                </div>
                <div class="group-list-item-header">
                    <div class="single-title">
                        Bank Transfer
                    </div>
                    
                </div>
                <div class="group-list-item-tail">
                    Rp 5000
                </div>
            </div>
        

            <div class="group-list-container">
                <div class="group-list-item-first">
                    <div class="icon">
                        <img src="https://via.placeholder.com/650x400" alt="">
                    </div>
                    
                </div>
                <div class="group-list-item-header">
                    <div class="single-title">
                        Bank Transfers
                    </div>
                    
                </div>
                <div class="group-list-item-tail">
                    Rp 5000
                </div>
            </div>
        
           
        </div>
    </div>
    

   

   

</div>

