<div class="group-list-order-summary">
    <div class="row">
        <div class="small-12 columns">
            <div class="group-list-container">
                <div class="group-list-item-header">
                    <div class="single-title">
                        Service
                    </div>
                    
                </div>
                <div class="group-list-item-tail">
                    Rp 5000
                </div>
            </div>
        
            <div class="group-list-container">
                <div class="group-list-item-header">
                    <div class="single-title">
                        Shipping Fee
                    </div>
                    
                </div>
                <div class="group-list-item-tail">
                    Rp 5000
                </div>
            </div>
        
            <div class="group-list-container">
                <div class="group-list-item-header">
                    <div class="single-title">
                        Promo
                    </div>
                    
                </div>
                <div class="group-list-item-tail">
                    - Rp 5000
                </div>
            </div>
        
            <div class="group-list-container border-top">
                <div class="group-list-item-header">
                    <div class="title">
                        Total
                    </div>
                    
                </div>
                <div class="group-list-item-tail">
                    Rp 500000
                </div>
            </div>
        </div>
    </div>
    

   

   

</div>

