<section id="main">
    <div class="row collapse">
        <div class="medium-3 columns" data-sticky-container>
                {{> admin-sidebar}}
        </div>
        <div class="medium-9 columns">
            <div class="page-container">
                <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> Sales Order List</a>
                <h1>Sales Order View</h1>
                

                <div class="table-container">
                        <h3>Customer Info</h3>
                      <table>
                        <thead>
                          <tr>
                            <th width="200">Name</th>
                            <th>Email</th>
                            <th width="150">Phone</th>
                            <th width="150">Location</th>
                            <th width="150">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>James</td>
                            <td>james@mail.com</td>
                            <td>082178317823</td>
                            <td>Jakarta</td>
                            <td>View</td>
                          </tr>
                         
                        </tbody>
                      </table>
                      </div>
                
                      <div class="table-container">
                            <h3>Host Info</h3>
                          <table>
                            <thead>
                              <tr>
                                <th width="200">Name</th>
                                <th>Email</th>
                                <th width="150">Phone</th>
                                <th width="150">Location</th>
                                <th width="150">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>James</td>
                                <td>james@mail.com</td>
                                <td>082178317823</td>
                                <td>Jakarta</td>
                                <td>View</td>
                              </tr>
                             
                            </tbody>
                          </table>
                          </div>

                  <div class="table-container">
                        <h3>Payment Info</h3>
                      <table>
                        <thead>
                          <tr>
                            <th width="150">Payment Type</th>
                            <th width="150">Customer Payment</th>
                            <th width="150">Host Payment</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Creditcard</td>
                            <td>Paid / Unpaid</td>
                            <td>Paid / Unpaid</td>
                            
                            
                          </tr>
                         
                        </tbody>
                      </table>
                      </div>

                  <div class="table-container">
                        <h3>Booking Info</h3>
                      <table>
                        <thead>
                          <tr>
                            <th width="200">Booking #</th>
                            <th width="150">Order Date</th>
                            <th>Service</th>
                            <th>Booking Location</th>

                            <th width="150">Booking Date</th>
                            <th width="150">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>31231231231</td>
                            <td>25 Mei 2019, 4PM</td>
                            
                            <td>Service Name - Product Name</td>
                            <td>Jl. Pinus 1 no 58, Taman Royal 1, Cipondoh</td>
                            <td>25 Mei 2019, 4PM</td>
                            <td>Pending</td>
                          </tr>
                         
                        </tbody>
                      </table>
                </div>

                
                  
            </div>
        </div>
    </div>
</section>