<section id="main">
    <div class="row collapse">
        <div class="medium-3 columns">
                {{> admin-sidebar}}

        </div>
        <div class="medium-9 columns">
            <div class="page-container">
                <h1>Sales Order List</h1>

                <table>
                    <thead>
                      <tr>
                        <th width="200">Booking #</th>
                        <th width="150">Host</th>
                        <th width="150">Customer</th>
                        
                        <th width="150">Booking Date</th>
                        <th width="150">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>313312387</td>
                        <td>James</td>
                        <td>Anton</td>
                        <td>25 May 2019</td>
                        <td>View</td>
                      </tr>
                      
                     
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</section>