<div class="card-product-hotel">
    <div class="row">
        <div class="small-8 columns">
            
            <div class="name">
                Paket Mandi seger
            </div>
            <div class="description">
                Include jdakdajj, jdakjda, jdjka, djaj
            </div>
            <div class="see-details">
                See Details
            </div>

        </div>
        <div class="small-4 columns text-right">
                <div class="promo">
                        30% Off from App
                    </div>  
            <div class="price">
                Rp. 12312
            </div>
            
            
            <div class="book-button">
                Book
            </div>
        </div>


    </div>
</div>