<div class="card-service-profile">
    <div class="header">
        <div class="slider-image">
            <div class="item">
                <img src="https://via.placeholder.com/650x400" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            
            <div class="medium-10 small-9 column">
                <div class="service-type">
                    Grooming
                </div>
                <h1 class="title">Lovely Petshop </h1> 
               
                <ul class="menu service-chips">
                    <li>Open Today 09Am - 10Am </li>
                    <li>|</li>
                    <li>Based In Jakarta</li>
                </ul> 
                <div class="service-rating">

                        <span class="review-stars">4.8</span> 
                        <span class="review-count">( 1000+ Reviews )</span> 
                        <!-- <span class="booked">( 1000+ Booked )</span>  -->
                    </div>
            </div>
            <div class="medium-2 small-3 column text-right">
                    <div class="profile-image">
                        <img src="https://via.placeholder.com/650x400" alt="">
                    </div>
                    
                </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                
                <div class="service-details">
                    
                    <div class="service-description">
                            <p>Menawarkan staff yang ramah dan pelayanan yang professional, serta diawasi oleh dokter hewan yang berpengalaman..</p>
                    </div>
                    <div class="service-help">
                            <p class="small-text">Contact Business for schedule details</p>
                            <a href="#">
                                Call Business
                            </a>
                            |
                            <a href="#">
                                    Call Petloka Customer Service
                                </a>
                    </div>
                   
                    
                </div>
            </div>
        </div>

    </div>
</div>