<div class="card">
    <div class="card-image">
            <img src="https://via.placeholder.com/650x450" alt="">
        
    </div>
    <div class="card-content">
        <h5>This is caption</h5>
        <h2>This is title</h2>
        <p>It has an easy to override visual style, and is appropriately subdued.</p>

    </div>
</div>