<div class="card-service-grooming">
    <a href="#">
            <div class="header">
                    <div class="promo">
                        30% Off from apps
                    </div>
                    <div class="image">
                        <img src="https://via.placeholder.com/650x400" alt="">
                    </div>
                    <div class="rating">
                      
                           4.8 ( 1000+ Review )
            
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="text-center small-2 medium-3 columns">
                            <div class="profile-image">
                                    <img src="https://via.placeholder.com/650x400" alt="">
                            </div>

                        </div>
                        <div class="small-10 medium-9 columns">
                            <div class="title">Hello Petshop</div>
                            <div class="price">Start from Rp 35.000,00</div>
                            <div class="location">Jakarta</div>
            
                        </div>
                    </div>
                </div>
    </a>
    
</div>